#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
}

.nav-menu li {
  list-style: none;
}

.add-user-btn {
  margin-left: 10px;
  background-color: rgb(39, 78, 187);
  color: #fff;
  position: relative;
  top: 3px;
}

input {
  padding: 11px;
  border-radius: 5px;
}

.add-user-btn:hover {
  margin-left: 10px;
  background-color: rgb(65, 100, 194);
  color: #fff;
}

.user-list {
  list-style: none;
}

.user-list li {
  margin-bottom: 15px;
}

.user-list li button {
  margin-left: 20px;
  background-color: rgb(245, 200, 200);
}

.user-list li button:hover {
  background-color: rgb(238, 169, 169);
}

.user-details {
  list-style: none;
  padding-left: 0;
}

.delete-btn {
  background-color: rgb(245, 200, 200);
}

.delete-btn:hover {
  background-color: rgb(238, 169, 169);
}

.back-users-btn {
  background-color: rgb(39, 78, 187);
  margin-left: 15px;
}

.back-users-btn:hover {
  background-color: rgb(65, 100, 194);
}

.back-users-btn a {
  color: #fff;
}