#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  background-color: rgb(45, 91, 241);
  color: #fff;
  margin-left: 10px;
  margin-bottom: 20px;
}
input{
  padding: 10px;
  border-radius: 5px;
}
ul{
  padding-left: 0;
  text-align: left;
}
ul li{
  list-style: none;
}
